---
import Layout from '~/layouts/Layout.astro';
import HeroIndex from '~/components/astro/hero/HeroIndex.astro';
---

<Layout title="Home - Lightning" description="Welcome to Lightning!">
	<main class="w-[100vw]">
		<HeroIndex />
	</main>
</Layout>